@import "tailwindcss";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}