@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100..900&display=swap');
/* or */
/* or */

body {
  font-family: "Poppins", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-color {
  @apply text-gray-600 dark:text-gray-300;
}